 <!-- Table Expedientes -->
<div>
  <!-- Paginador-->
  <div class="row" style="padding-bottom:10px ; padding-left: 30px">
    <h5 style="padding-right:10px">BUSCAR: </h5>
    <div class="col-2">
      <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Numero expediente" style="padding-left: 5px">
    </div>
  </div>
  <table border="1" id="tablaExpedientes">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Suceso</th>
        <th>Lugar</th>
        <th>Fase</th>
        <th>Aeronave</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Matricula</th>
        <th>Estado</th>
        <th style="background-color: lightblue">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dto in expedients" on-click="changeColor(this)">
        <td>{{dto.numeroExpediente}}</td>
        <td>{{dto.fecha | date: dd/mm/yy}}</td>
        <td>{{dto.suceso}}</td>
        <td>{{dto.lugar}}</td>
        <td>{{dto.fase}}</td>
        <td>{{dto.aeronave}}</td>
        <td>{{dto.marca}}</td>
        <td>{{dto.modelo}}</td>
        <td>{{dto.matricula}}</td>
        <td>{{dto.estado}}</td>
        <td class="text-center text-nowrap">
          <button class="btn btn-primary btn-sm" title="Modificar"
                  ng-click="Modificar(dto)" data-toggle="modal" data-target="#myModal">
            Modificar
          </button>
          <button class="btn btn-primary btn-sm" title="Eliminar"
                  ng-click="Eliminar(dto)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-sm-12">
    <div calss="row bg-light">
      <div calss="col-sm-3">
        <span class="col-form-label label-default font-weight-bold">Registros: {{RegistrosTotal}}</span>
      </div>
      <div class="col-sm-6 text-center">
        <ul uib-pagination total-items="RegistrosTotal" items-per-page="10" ng-model="PaginaActual" max-size="5" 
            class="pagination-sm" boundary-links="true" first-text="Primera" last-text="Ultima"
            previous-text="Anterior" next-text="Siguiente" rotate="true" ng-change="Buscar()"></ul>
      </div>
    </div>
  </div>


  <!-- MODAL -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modificar Expediente</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div>
            <form name="FormReg" novalidate>
              <!-- First Row Expedient Number-->
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Numero Expediente:</label>
                  <input type="number" name="numeroExpediente" class="form-control" ng-model="DtoSel.numeroExpediente" placeholder="Numero" required maxlength="5">
                  <span class="help-inline" ng-show="FormReg.numeroExpediente.$error.required && (FormReg.numeroExpediente.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
                <div class="form-group col-md-2">
                  <label>Estado:</label>
                  <select ng-model="DtoSel.estado" name="estado" class="form-control" required>
                    <option selected>En Curso</option>
                    <option>Finalizado</option>
                  </select>
                  <span class="help-inline" ng-show="FormReg.estado.$error.required">Dato requerido.</span>
                </div>
                <div class="form-group col-md-2">
                  <label>Suceso:</label>
                  <select ng-model="DtoSel.suceso" name="suceso" class="form-control" required>
                    <option selected>Accidente</option>
                    <option>Incidente</option>
                    <option>Incidente Grave</option>
                  </select>
                  <span class="help-inline" ng-show="FormReg.suceso.$error.required && (FormReg.suceso.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
              </div>
              <!-- Second Row Date / Place -->
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Fecha del Incidente:</label>
                  <input type="date" class="form-control" name="fecha" ng-model="DtoSel.fecha" required placeholder="Fecha" max="{{currentDate | date:'yyyy-MM-dd'}}">
                  <span class="help-inline" ng-show="FormReg.fecha.$error.required && (FormReg.fecha.$touched || FormReg.$submitted)">Dato requerido.</span>
                  <span class="help-inline" ng-show="FormReg.fecha.$error.min">La fecha no deberia ser posterior a la actual</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Lugar</label>
                  <input type="text" class="form-control" name="lugar" ng-model="DtoSel.lugar" required placeholder="Lugar" maxlength="50">
                  <span class="help-inline" ng-show="FormReg.lugar.$error.required && (FormReg.lugar.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Fase:</label>
                  <select ng-model="DtoSel.fase" name="fase" class="form-control" required>
                    <option selected>Despegue</option>
                    <option>Aterrizaje</option>
                    <option>Rodaje</option>
                    <option>Vuelo</option>
                  </select>
                  <span class="help-inline" ng-show="FormReg.fase.$error.required && (FormReg.fase.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
              </div>
              <!-- Third Row / Aircraft Info -->
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label>Aeronave:</label>
                  <select ng-model="DtoSel.aeronave" name="aeronave" class="form-control" required>
                    <option selected>Avion</option>
                    <option>Helicoptero</option>
                    <option>Experimental</option>
                    <option>Otro</option>
                  </select>
                  <span class="help-inline" ng-show="FormReg.aeronave.$error.required && (FormReg.aeronave.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
                <div class="form-group col-md-3">
                  <label>Marca:</label>
                  <select ng-model="DtoSel.marca" name="marca" class="form-control" required
                          ng-options="obj.id as obj.nombre for obj in Marca"></select>
                  <span class="help-inline" ng-show="FormReg.marca.$error.required && (FormReg.marca.$touched || FormReg.$submitted)">Dato requerido.</span>

                </div>
                <div class="form-group col-md-3">
                  <label>Modelo:</label>
                  <input type="text" class="form-control" ng-model="DtoSel.modelo" name="modelo" required placeholder="Modelo" maxlength="15" />
                  <span class="help-inline" ng-show="FormReg.modelo.$error.required && (FormReg.modelo.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
                <div class="form-group col-md-3">
                  <label>Matricula:</label>
                  <input type="text" class="form-control" ng-model="DtoSel.matricula" name="matricula" placeholder="Matricula" required maxlength="8" />
                  <span class="help-inline" ng-show="FormReg.matricula.$error.required && (FormReg.matricula.$touched || FormReg.$submitted)">Dato requerido.</span>
                </div>
              </div>
            </form>
            <br />
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-disabled="FormReg.$invalid" ng-click="Grabar()" data-dismiss="modal">Grabar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          <span class="row alert alert-danger" ng-show="FormReg.$invalid && (FormReg.$submitted)">Revisar los Datos Ingresados </span>
        </div>
      </div>
    </div>
  </div>
</div>
